.circleLogo{
    border-radius: 20em;
    width: 30%;
}
.iconSize{
    font-size: 7em;
}
.imgSize{
    width: calc(33.33% - 2em);
}
img{
    width: 100%;
}
.stdImg{
    /* width: 5%; */
}
.rounder{
    border-radius: 2em;
}